<!DOCTYPE html>
<html>
<head>
  <title>Lisk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>

<% if @contents[ :header ] %>
<%= render "shared/header" %>
<% end %>

<% if @contents[ :info ] %>
<%= render @contents[ :info ] %>
<% end %>

<div class="main">
<%= yield %>
</div>

<% if @contents[ :footer ] %>
<%= render "shared/footer" %>
<% end %>

</body>
</html>
